body {
  margin: 0;
  font-family: "times";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  color:#6FB20A;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://cdn.dribbble.com/users/2172077/screenshots/7331254/laptop-computer-tech-dwg-timelapse-bs-hd-anim.gif);
  background-size: cover;
  color: white;
  height:700px;
  /* Change the text-align property to center */
  text-align:center;
  opacity:1;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 3px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  /* Change the border-radius to 4px */
  border-radius:4px;
}

/* Add CSS for btn on hover */
.btn:hover{
  opacity:1;
}


.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #3b5998;
  margin-right:20px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}
.next{
background-color: grey;
}
header{
  font-family:fantasy;
  font-size:100px;
  text-align:center;
  background-color: #86B404;
}
